
.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    margin: 5px auto;
  }
  
  .form {
    padding: 20px 0;
  }

  .form__input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #2c3e50;
    margin-right: 10px;
    letter-spacing: 2px;
    padding: 0.4rem;
    width: 30%;
  }
  
  .form__button {
    font-family: 'Montserrat', sans-serif;
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .form__button:hover {
    border: solid 2px #e74c3c;
    background-color: #e74c3c;
    color: white;
  }
  
  input[type="text"] { 
    outline: none;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content:  center;
  }

  .buttons button {
    font-family: 'Montserrat';
    background-color: #e74c3c;
    border: solid 2px white;
    color: white;
    padding: 0.4rem 0.9rem;
    margin: 0 0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .buttons button:hover {
    background-color: #fff;
    border: solid 2px #e74c3c;
    color: black;
    font-weight: 500;
  }


  .results {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

  }